{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="btn-toolbar dropdown">
            <button class="btn btn-dark btn-sm me-2 dropdown-toggle" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span class="fas fa-plus me-2"></span>Ajouter un nouvel exercice
            </button>
            <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nouvel Exercice</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary">Sauvegarder les modifications</button>
        </div>
      </div>
    </div>
  </div>
            <!--fin modal-->
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-0">
                <a class="dropdown-item fw-normal rounded-top" href="#"><span class="fas fa-tasks"></span>New Task</a>
                <a class="dropdown-item fw-normal" href="#"><span class="fas fa-cloud-upload-alt"></span>Upload Files</a>
                <a class="dropdown-item fw-normal" href="#"><span class="fas fa-user-shield"></span>Preview Security</a>
                <div role="separator" class="dropdown-divider my-0"></div>
                <a class="dropdown-item fw-normal rounded-bottom" href="#"><span class="fas fa-rocket text-danger"></span>Upgrade to Pro</a>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">AAAA</button>
            <button type="button" class="btn btn-sm btn-outline-primary">B</button>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12 mb-4">
            <div class="card bg-secondary-alt shadow-sm">
                <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                    <div class="d-block mb-3 mb-sm-0">
                        <div class="h5 fw-normal mb-2">Les informations:</div>
                        <h2 class="h3">etudiant</h2>
                        <div class="small mt-2"> 
                           khadidja dari
                        </div>
                    </div>
                    <div class="d-flex ms-auto">
                        <a href="#" class="btn btn-secondary text-dark btn-sm me-2">Modifier</a>
                        <a href="#" class="btn btn-dark btn-sm me-3">supprimer</a>
                    </div>
                </div>
                <div class="card-body p-2">
                    <div class="ct-chart-sales-value ct-double-octave ct-series-g"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class=" shadow-lg rounded scale page-preview scale-up-2"  >
                    <div class="px-3 px-lg-4 py-5 text-center">
                        
                        <span class="icon icon-lg mb-4"> <img  src="/static/assets/img/logoo.png"></span>
                        <h5 class="fw-bold text-primary">Accueil</h5>
                        <p>blablablablablablabla</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class=" shadow-lg rounded scale page-preview scale-up-2">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fa fa-fw fa-home"></span></span>
                        <h5 class="fw-bold text-primary">Accueil</h5>
                        <p>blablablablablablabla</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class=" shadow-lg rounded scale page-preview scale-up-2">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fa fa-fw fa-home"></span></span>
                        <h5 class="fw-bold text-primary">Accueil</h5>
                        <p>blablablablablablabla</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class=" shadow-lg rounded scale page-preview scale-up-2">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fa fa-fw fa-home"></span></span>
                        <h5 class="fw-bold text-primary">Accueil</h5>
                        <p>blablablablablablabla</p>
                    </div>
                </div>
            </div>
        
            <div class="col-12 col-sm-6 col-lg-3">
                <div class=" shadow-lg rounded scale page-preview scale-up-2">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fa fa-fw fa-home"></span></span>
                        <h5 class="fw-bold text-primary">Accueil</h5>
                        <p>blablablablablablabla</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class=" shadow-lg rounded scale page-preview scale-up-2">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fa fa-fw fa-home"></span></span>
                        <h5 class="fw-bold text-primary">Accueil</h5>
                        <p>blablablablablablabla</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class=" shadow-lg rounded scale page-preview scale-up-2">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fa fa-fw fa-home"></span></span>
                        <h5 class="fw-bold text-primary">Accueil</h5>
                        <p>blablablablablablabla</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class=" shadow-lg rounded scale page-preview scale-up-2">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fa fa-fw fa-home"></span></span>
                        <h5 class="fw-bold text-primary">Accueil</h5>
                        <p>blablablablablablabla</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class=" shadow-lg rounded scale page-preview scale-up-2">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fa fa-fw fa-home"></span></span>
                        <h5 class="fw-bold text-primary">Accueil</h5>
                        <p>blablablablablablabla</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class=" shadow-lg rounded scale page-preview scale-up-2">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fa fa-fw fa-home"></span></span>
                        <h5 class="fw-bold text-primary">Accueil</h5>
                        <p>blablablablablablabla</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class=" shadow-lg rounded scale page-preview scale-up-2">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fa fa-fw fa-home"></span></span>
                        <h5 class="fw-bold text-primary">Accueil</h5>
                        <p>blablablablablablabla</p>
                    </div>
                </div>
            </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
