{% extends "layouts/base.html" %}

{% block title %} Mes Devoirs {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock stylesheets %}

{% block content %}
{% if user.type_cmp == 'Enseignant'%}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4 ">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">                    
              <li class="fw-bold text-warning" aria-current="page">Liste des Devoirs</li>
            </ol>
        </nav>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
       <!--<div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">AAA</button>
            <button type="button" class="btn btn-sm btn-outline-primary">BBB</button>
        </div>--> 
    </div>
</div>
{% load sweetify %}
{% sweetify %}
<div class="card card-body shadow-sm table-wrapper table-responsive ">
    <table class="table table-dark table-striped">
        <thead >
            
                
                <th class="fw-bold text-warning"></th>	
                <th class="fw-bold text-warning"></th>					
                <th class="fw-bold text-warning"></th>
                <th class="fw-bold text-warning"></th>
                <th class="fw-bold text-warning"></th>
                <th class="fw-bold text-warning"></th>
                <th class="fw-bold text-warning"></th>
            
        </thead>
        
        <tbody>
            
            {%for d in devoirs%}
            <tr>
                <td ><span class="fw-bold">{{d.titre}}</span></td>
                
                <td>
                  <span class="fw-normal">{{d.module.nom}}</span>
              </td>
                <td><span class="fw-normal">{{d.date_fin}}</span></td>                        
                <td><span class="fw-normal">{{d.type_dev}}</span></td>
                <td>
                    <span class="fw-normal">
                      <a href="{%url 'QuiFaitDevoir' d.id %}">
                      <button type="button" class="btn btn-secondary">Qui ont fait le devoir</button>  
                    </a>
                    </span>
                </td>
                <td>  
                   <!--dddddddddddddd-->
            <div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true" id="modal-default{{d.id}}_supp">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header bg-gradient-secondary">
                      <h5 class="modal-title">Confirmer la suppression</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p style="color: black;">Voulez-vous vraiment supprimer le devoir ?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">annuler</button>
                      <form method="post" action="{%url 'SupprimerDevoir' d.id%}" enctype="multipart/form-data">
                        {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                    </div>
                  </div>
                </div>
              </div>

            <!-- Item -->



<!-- Modal -->
<div class="modal fade" id="exampleModal_{{d.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-gradient-secondary">
          <h5 class="modal-title" id="exampleModalLabel">Modifier Les Informations de Devoir: {{d.titre}}</h5>
          <!--<div class="form-group">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">About sur le fichier uploade</button>
            </div>-->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body form-group">
            <div class="form-group">
              {% load sweetify %}
              {% sweetify %}
              <form method="post" action="{%url 'ModifierDevoir' d.id %}" enctype="multipart/form-data">
                            
                {% csrf_token %}
                <div class="form-group mb-4">
            <label for="disabledTextInput" style="color: black;">Titre de devoir</label>
              <input type="text" class="form-control" name="titre">
            </div>
        </div>
        
        <div class="form-group">
            <label for="TextInput" style="color: black;">Fichier de devoir</label>
            <input type="file"  class="form-control" name="fichier" id="fichier" onchange="return Validation()" placeholder="{{d.fichier}}"> 
            <script> 
              function Validation() 
              { 
              var fichier = document.getElementById('fichier'); 
              var valeur = fichier.value; 
              var extensions = /(\.zip)$/i; 
                if (!extensions.exec(valeur))
                { 
                  Swal.fire({
                                position: 'center',
                                icon: 'warning',
                                title:'Erreur',
                                text: "Le fichier que vous avez téléchargé ne correspond pas au format .zip",
                                showConfirmButton: true,
                                timer: 10000,
                                confirmButtonText: 'Fermer',

                            })
                  
                }
                if(event.target.files[0].size>1024*1024){
                  Swal.fire({
                                position: 'center',
                                icon:'error',
                                title:'Erreur',
                                text: "La taille du fichier est trop grande, la taille du fichier ne doit pas dépasser 1 Mo",
                                showConfirmButton: true,
                                timer: 10000,
                                confirmButtonText: 'Fermer',

                            })
                            event.preventDefault()
                }
              }
                </script>
          </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1" style="color: black;">Type de devoir :</label>
                <select class="form-control"  name="type_dev" placeholder="{{d.type_dev}}">
                  <option></option>
                  <option>sommative</option>
                  <option>formative</option>
                </select>
              </div>
              <div class="form-group">
                <label for="TextInput" style="color: black;">Date de soumission</label>
                <input type="date"  class="form-control" name="date_fin">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1" style="color: black;">Catégorie</label>
                <select class="form-control" name="module">
                  <option></option>
                  {% for i in c%}
                  <option>{{i.nom}}</option>
                  {%endfor%}
                </select>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </form>
        </div>
      </div>
    </div>
  </div>
            <!--fin modal-->


                  <span class="fw-bold"><button class="btn btn-secondary text-dark me-2 dropdown-toggle" data-bs-toggle="modal" data-bs-target="#exampleModal_{{d.id}}">Modifier</button></span>
                  
              </td>
                <td>
                    <span class="fw-bold">
                        <button class="btn btn-secondary text-dark me-2 dropdown-toggle" data-bs-toggle="modal" data-bs-target="#modal-default{{d.id}}_supp">Supprimer</button>
                    </span></td>       
                
            </tr>
            {%endfor%}
            
            <!-- Item -->
                        
        </tbody>
        <thead>
            
                
            <th class="fw-bold text-warning"></th>	
            <th class="fw-bold text-warning"></th>					
            <th class="fw-bold text-warning"></th>
            <th class="fw-bold text-warning"></th>
            <th class="fw-bold text-warning"></th>
            <th class="fw-bold text-warning"></th>
            <th class="fw-bold text-warning"></th>
        
    </thead>
    </table></div>
    <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
                <li class="page-item">
                    <a class="page-link" href="#">Précédent</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item ">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Suivant</a>
                </li>
            </ul>
        </nav>
</div>
{%endif%}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
