{% load sweetify %} 
{% sweetify %}
<head>
    <title>ss</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
<form method="get" action="{%url 'ss'%}">
    <button>show</button>
    {% if user.is_authenticated %}
    <script>
        Swal.fire({
            position: 'center',
            icon: 'error',
            text: "{{user.username}}",
            showConfirmButton: true,
            timer: 5000
        })
    </script>
    {%endif%}
</form>

</body>